@use '../abstracts' as *;

.newMatchModal {
    width: 100%;
    // @include flexbox(column, center, center, 24px);


    & > .upperContainer {
        @include flexbox(column, center, center, calc(8px * var(--app-scale)));
        color: white;
        background-color: var(--primary-green);
        width: 100%;
        padding: calc(16px * var(--app-scale));
        border-top-left-radius: calc(16px * var(--app-scale));
        border-top-right-radius: calc(16px * var(--app-scale));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.152), rgb(55, 175, 145));
        padding-bottom: calc(32px * var(--app-scale));
    }

    & > .bottomContainer {
        @include flexbox(column, center, center, calc(8px * var(--app-scale)));
        padding: calc(16px * var(--app-scale));

         & > .photosContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: calc(-48px * var(--app-scale));
            padding: calc(8px * var(--app-scale));

            & > .userAvatar {
                margin-right: calc(-8px * var(--app-scale));
                &:nth-child(2) {margin-left: calc(-8px * var(--app-scale))}
            }
        }

        & > p {
            text-align: center;
            color: var(--darker-grey);
            width: 90%;
        }

        & > .buttonsContainer {
            margin-top: calc(16px * var(--app-scale));
            width: 70%;
            display: flex;
            justify-content: space-around;
            gap: calc(8px * var(--app-scale));
        }
    }
}