@use '../abstracts' as *;

.newMatchModal {
    width: 100%;
    // @include flexbox(column, center, center, 24px);


    & > .upperContainer {
        @include flexbox(column, center, center, 8px);
        color: white;
        background-color: var(--primary-green);
        width: 100%;
        padding: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.152), rgb(55, 175, 145));
        padding-bottom: 32px;
    }

    & > .bottomContainer {
        @include flexbox(column, center, center, 8px);
        padding: 16px;

         & > .photosContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: -48px;
            padding: 8px;

            & > .userAvatar {
                margin-right: -8px;
                &:nth-child(2) {margin-left: -8px;}
            }
        }

        & > p {
            text-align: center;
            color: var(--darker-grey);
            width: 90%;
        }

        & > .buttonsContainer {
            margin-top: 16px;
            width: 70%;
            display: flex;
            justify-content: space-around;
            gap: 8px;
        }
    }
}