#chat {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    .chat {
        display: grid;
        grid-template-rows: 10% 82% 8%; 
        grid-template-columns: 1fr;
        min-height: 100vh;
        
        & > .upperPart {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 40px;

            & > p {
                font-weight: bold;
                font-size: 18px;
            }
        }
        & > .centerPart {
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding: 10px 18px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            
            & > .messageContainer {
                width: 100%;
                padding: 15px 0px;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                position: relative;

                &:hover img, &:hover time {
                    opacity: 1;
                }
                
                .message {
                    max-width: 40%;
                    line-height: 20px;
                    display: inline;
                    background-color: rgba(0, 0, 0, 0.082);
                    padding: 15px 15px;
                    border-radius: 23px 6px 6px 23px;

                    &.deleted {
                        color: gray;
                    }
                }


                time {
                    opacity: 0; //0
                    font-size: 13px;
                    color: grey;
                    transition: 200ms;
                }

                & > img  {
                    width: 17px;
                    cursor: pointer;
                    transition: 200ms;
                    opacity: 0;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &.fromHer {
                    justify-content: flex-start;
                    & > img:nth-child(1) {
                        order: 2;
                    }
                    & > img:nth-child(2) {
                        order: 1;
                    }
                    .message {
                        border-radius: 6px 23px 23px 6px;
                        order: -1;
                    }

                }
                
                &.isLast::after {
                    content: 'Sent';
                    position: absolute;
                    font-size: 14px;
                    top: 85%;
                    left: 97%;
                    opacity: 0.8;
                }
            }

            & > .dateContainer {
                font-size: 13px;
                color: grey;
                text-align: center;
            }
            
        }
        & > .bottomPart {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;

            & > form {
                width: 100%;
                padding: 0px 25px;
                display: grid;
                grid-template-rows: 1fr; 
                grid-template-columns: 80% 20%;
                gap: 4px;
                textarea {
                    // width: 80%;
                    resize: none;
                    height: 100%;
                    border: 1px solid grey;
                    border-radius: 4px;
                    padding: 8px 8px;
                    // margin: auto;
                    // line-height: 15px;
                    // vertical-align: center;
                }
                button {
                    background-color: rgba(150, 144, 162, 0.25);;
                    width: 100%;
                    padding: 8px 0px;
                    text-transform: uppercase;
                    font-size: 15px;
                    border-radius: 4px;
                    color: grey;
                    margin: 0px auto;
                    transition: 300ms;
                    
                    &.active {
                        background-color: #37AF91;
                        color: #F0F2F4;
                        
                        &:hover {
                            opacity: 0.8;
                        }
                    }

                }
            }
        }
    }

    .partnerInfo {
        outline: 1px solid black;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .videoContainer {
            height: 75%;
        }

        .videoContainer > video, .videoContainer > img {
            object-fit: cover;
            cursor: pointer;
            height: 100%;
            width: 100%;
        }
        
        .info > div {
            padding: 15px;   
            border-bottom: 1px solid black;
    
            &:last-child {
                border-bottom: unset;
            }
        }
    
        .nameAndAge {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    
        .basic > div {
            // opacity: 0.8;
            display: flex;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
            & > img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    
        .more {
            padding: 0px!important;
    
            & > .passions {
                padding: 15px;
                border-bottom: 1px solid black;
            }
        }

        .passions > p {
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 12px;
            
        }
    
        .passions > div {
            @include flexbox(start, center);
            flex-wrap: wrap;
            gap: 10px;
    
            & > div {
                padding: 8px 20px;
                border: 1px solid black;
                border-radius: 20px;
            }
        }
    
        .videoContainer {
            position: relative;
    
            &:hover .arrows {
                opacity: 1;
            }
        }
        .bullets {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 12px;
            padding: 4px 8px;
            @include flexbox(center, center);
            gap: 8px;
    
            & > div {
                background-color: #505965;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                cursor: pointer;
    
                &.active {
                    background-color: white;
                }
            }
        }
        .arrows {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            transition: 200ms;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            
            & > div {
                width: 100%;
                height: 100%;
                cursor: pointer;
                padding: 0px 10px;
                opacity: 0;
                visibility: hidden;
    
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
    
                & > img {
                    width: 25px;
                }
            }
    
            & > .arrowLeft {
                @include flexbox(start, center)
            }
    
            & > .arrowRight {
                @include flexbox(end, center)
            }
    
        }
    }
}