#explore {
    border-radius: 8px;
    background-color: white;
    width: 19.5vw;
    height: 71.5vh;
    color: black;
    overflow-y: hidden;
    position: relative;
    min-width: 375px;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .videoContainer {
        display: none;
        width: 100%;
        
        &.active {
            display: inline-block;
        }
    }

    .videoContainer > img, .videoContainer > video  {
        border-radius: 8px 8px 0px 0px;
        object-fit: cover;
        cursor: pointer;
        width: 100%;
        height: 85%
    }
    
    .info {
        position: relative;
    }

    .info > div {
        padding: 15px;   
        border-bottom: 1px solid black;

        &:last-child {
            border-bottom: unset;
        }
        .nameAndAgeContainer {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > img {
                border: 1px solid black;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;
                transition: 200ms;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }


    .basic > div {
        // opacity: 0.8;
        display: flex;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0px;
        }
        & > img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }

    .more {
        padding: 0px!important;

        & > .passions {
            padding: 15px;
            border-bottom: 1px solid black;
        }
    }

    .passions > p {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .passions > div {
        @include flexbox(start, center);
        flex-wrap: wrap;
        gap: 10px;

        & > div {
            padding: 8px 20px;
            border: 1px solid black;
            border-radius: 20px;
        }
    }

    .videoContainer {
        position: relative;
        height: 100%;

        &:hover .arrows {
            opacity: 1;
        }

    }

    .shortInfo {
        position: absolute;
        bottom: 100px;
        left: 0px;
        color: white;
        font-size: 40px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 28%;
        // height: 187px;
        //aq
        padding: 0px 18px;
        background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    

        & > div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            & > img {
                width: 24px;
                height: 24px;
                cursor: pointer;
                transition: 200ms;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

    }

    .buttons {
        position: sticky;
        bottom: 0px;
        left: 0px;
        color: white;
        font-size: 40px;
        background-color: black;
        width: 100%;
        // height: 15.1%;
        //aq
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        & > img {
            width: 60px;
            height: 60px;
            border: 1px solid green;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            transition: 200ms;

            &:nth-child(1) {
                border-color: #C71F1F;
            }
            &:nth-child(2) {
                border-color: #199890;
            }

            &:hover {
                transform: scale(1.04);            
            }
        }
    }

    .bullets {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 12px;
        padding: 4px 8px;
        @include flexbox(center, center);
        gap: 8px;

        & > div {
            background-color: #505965;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &.active {
                background-color: white;
            }
        }
    }
    .arrows {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;
        visibility: hidden;
        opacity: 0;
        transition: 200ms;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        
        & > div {
            width: 100%;
            height: 100%;
            cursor: pointer;
            padding: 0px 10px;
            opacity: 0;
            visibility: hidden;

            &.active {
                visibility: visible;
                opacity: 1;
            }

            & > img {
                width: 25px;
            }
        }

        & > .arrowLeft {
            @include flexbox(start, center)
        }

        & > .arrowRight {
            @include flexbox(end, center)
        }

    }

    .loading {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &.isInfoVisible {
        overflow-y: scroll;

        .videoContainer {
            height: 80%;
            width: 100%;
            & > img, & > video {
                height: 100%; 
            }   
        }
        .buttons {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
            background-color: transparent;
            & > img {
                background-color: white;
            }
        }
    }
}