#sign_up {
    @include flexbox(center, center);
    flex-direction: column;
    gap: 25px;

    & > .title {
        font-size: 45px;
        font-weight: normal;
    }

    // .stepContent {
    //     display: none;
    //     &.active {
    //         display: unset;
    //     }
    // }

    form {
        @include flexbox(center, center);
        flex-direction: column;
        gap: 18px;
        width: 25vw;
        
        & > div {
            @include flexbox(center, unset);
            flex-direction: column;
            gap: 10px;
            width: 100%;

            & > div {
                @include flexbox(space-between, center);
                gap: 20px;

                & > div {
                    width: 100%;
                    & > label {
                        display: block;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        & > .date > div {
            width: 50%;
        } 

        & > .terms {
            flex-direction: row;
            justify-content: start;
            gap: 10px;
            & > input {
                width: 20px;
            }

            & > label {
                margin: 0;
            }
        }

        p {
            font-size: 17px;
        }

        input, select {
            width: 100%;
            background-color: transparent;
            padding: 8px;
            border: 1px solid black;
            color: black;
        }

        option {
            background-color: white;
            padding: 5px;
        }

        button {
            background-color: transparent;
            border: 1px solid black;
            padding: 10px;
            transition: 300ms;

            &:hover {
                background-color: #37AF91;
                color: #F0F2F4;
            }
        }

        .required:after {
            content: '*';
            color: red;
            margin-left: 5px;
        }

        textarea {
            border: 1px solid black;
            resize:none;
            padding: 8px;
            font-size: 14px;
        }
    }

    .steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        & > div {
            // background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            
            & > div {
                outline: 1px solid black;                
                color: white;
                background-color: grey;
                padding: 5px 10px;
                border-radius: 50%;
                display: inline;
                z-index: 1;
            }

            & > p {
                opacity: 0.7;
                font-size: 15px;
            }

            &.active > div {
                background-color:  #37AF91;;
            }
            &.active > p {
                opacity: 1;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 25%;
            left: 10%;
            width: 80%;
            height: 1.5px;
        }

        &.step1::before {
            background-color: grey;
        }
        &.step2::before {
            background-image: linear-gradient(to right, #37AF91 50%, grey 50%); 
        }
        &.step3::before {
            background-color:  #37AF91;;
        }
    }

    input[type="file"] {
        display: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }
    
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
    }

    .videoContainer {
        width: 100%;
        height: 550px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 12px;
        & > div {
            width: 100%;
            height: 100%;
            position: relative;

            & > label {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0px;
                object-fit: cover;

                video, img {
                    border-radius: 12px;
                    // width: 100%;
                    // height: calc(500px/3);
                    display: none;
                    width: 100%;
                    max-height: calc((550px - 24px)/3);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            & > img {
                position: absolute;
                background-color: #37AF91;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                font-size: 22px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: -5px;
                right: -5px;
                padding: 3px;

                &.deleteFile {
                    transform: rotate(45deg);
                    background-color: red;
                    display: none;
                }
            }

            &.uploaded {
                & > img {
                    
                    &.deleteFile {
                        display: flex;
                        cursor: pointer;
                    }
                }
                .custom-file-upload {
                    cursor: unset;
                    pointer-events: none;
                }
            }

            &.isVideo {
                label > img {
                    display: none!important;
                } 
                label > video {
                    display: unset!important;
                } 
            }
            &.isImage {
                label > video {
                    display: none!important;
                } 
                label > img {
                    display: unset!important;
                } 
            }
        }
    }
    .error {
        color: red;
        font-size: 15px;
    }

}