#navbar_popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(61, 168, 129, 0.239);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    & > button {
        background-color: transparent;
        border-radius: 50%;
        padding: 10px;
        margin: 3vh 1.15vw;
        // margin-top: 3vh;
        // margin-left: 1.15vw;
        transition: 300ms;
        border: 1px solid black;

        &:hover {
            transform: scale(1.04);
        }

        & > img {
            width: 32px;
            transform: scale(0.8);
        }

    }

    .links {
        @include flexbox(center, center);
        flex-direction: column;
        width: 60vw;
        height: 78vh;
    }

    
    ul {
        counter-reset: section; /* Increment the value of section counter by 1 */
    }
    
    li {
        font-size: 10vh;
        margin: 5vh;
        color: rgb(39, 39, 39);

        &:before {
            counter-increment: section; /* Increment the value of section counter by 1 */
            content: "0" counter(section);
            font-size: 14px;
            vertical-align: top;
            line-height: 20px;
            color: grey;
            font-weight: bold;
            // transform: translateY(10px);
        }
    
    }
    a {
        transition: 300ms;

        &:hover {
            opacity: 0.6;
        }
    }

    &.loggedIn {
        & > button {
            margin: 4.7vh 14.8vw 0px 14.9vw;        
        }
    }
}