@use '../abstracts' as *;

.about {
    width: 70%;
    @include flexbox(column, center, center, calc(42px * var(--app-scale)));
    background: var(--white);
    padding: calc(40px * var(--app-scale));
    margin: calc(102px * var(--app-scale)) 0;
    border: calc(1px * var(--app-scale)) solid var(--border-grey);
    box-shadow: var(--shadow-sm);
    border-radius: calc(12px * var(--app-scale));
    
    & > .title {
        font-size: calc(40px * var(--app-scale));
        line-height: calc(32px * var(--app-scale));
        text-align: center;
    }

    & > .content {
        @include flexbox(column, center, flex-start, calc(16px * var(--app-scale)));

        h3 {
            font-size: calc(24px * var(--app-scale));
        }

        p {
            color: var(--darker-grey);
            margin-bottom: calc(15px * var(--app-scale));
            line-height: calc(24px * var(--app-scale));
        }

        ul {
            width: 100%;
            
            & > li {
                margin: calc(16px * var(--app-scale)) 0;
                width: 100%;
                @include flexbox(row, flex-start, flex-start, calc(20px * var(--app-scale)));

                & > img {
                    padding: calc(8px * var(--app-scale));
                    background-color: #1998903f;
                    border-radius: 100%;
                }

                h4 {
                    font-size: calc(18px * var(--app-scale));
                    margin-bottom: calc(10px * var(--app-scale));
                }
            }
        }

        .button {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        margin: 16px;
        padding: 24px 8px;
    }
}