@use '../abstracts' as *;

.chat {
    width: 100%;
    height: 100dvh;
    padding: calc(24px * var(--app-scale));
    padding-bottom: 0;
    @include flexbox(row, flex-start, flex-start);

    & > .leftBar {
        height: 100%;
        width: 20%;
        min-width: 200px;
        background-color: var(--white);
        & > .upperContainer {
            padding: 0 calc(16px * var(--app-scale));
            height: calc(80px * var(--app-scale));
            @include flexbox(row, flex-start, center);
            border-bottom: calc(1px * var(--app-scale)) solid var(--border-grey);

            & > input {
                width: 100%;
                padding: calc(12px * var(--app-scale)) calc(6px * var(--app-scale));
                background: var(--bg-color);
                border: calc(1px * var(--app-scale)) solid var(--border-grey);
                border-radius: calc(4px * var(--app-scale));
            }
        }

        & > .matchesList {
            @include flexbox(column, flex-start, flex-start);

            & > .item {
                border-bottom: calc(1px * var(--app-scale)) solid var(--border-grey);
                width: 100%;
                padding: calc(16px * var(--app-scale));
                @include flexbox(row, space-between, flex-start);
                cursor: pointer;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;

                &:hover {
                    background-color: var(--bg-color);
                }

                &.active {
                    background-color: var(--bg-color);
                    cursor: unset;
                    pointer-events: none;
                }

                & > div {
                    @include flexbox(row, flex-start, flex-start, calc(12px * var(--app-scale)));
                    & > .nameAndMessageContainer {
                        @include flexbox(column, flex-start, flex-start, calc(3px * var(--app-scale)));
                        height: 100%;
                        
                        & > p:nth-child(2) {
                            font-size: calc(14px * var(--app-scale));
                            color: var(--darker-grey);
                            @include flexbox(row, flex-start, center, calc(6px * var(--app-scale)));
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            // width: 120px;

                            & > .icon {
                                width: calc(10px * var(--app-scale));
                                height: calc(10px * var(--app-scale));
                            }
    
                            & > .greenCircle {
                                width: calc(6px * var(--app-scale));
                                height: calc(6px * var(--app-scale));
                                border-radius: 100%;
                                background-color: rgba(55, 175, 145, 1);
                            }
                        }
                    }

                }

                & > .messageTime {
                    font-size: calc(12px * var(--app-scale));
                    color: var(--darker-grey);
                }
            }
        }
    }

    .userAvatar {
        width: calc(40px * var(--app-scale));
        height: calc(40px * var(--app-scale));
    }


    @media screen and (max-width: 1000px) {
        height: 83vh;

        & > .leftBar {
            width: 100%;

            display: none;    
            &.mob-visible {
                display: block;
            }  
            &.mob-hidden {
                display: none;
            }

        }
        & > .chatRoom {
            width: 100%;

            display: none;    
            &.mob-visible {
                display: block;
            }  
            &.mob-hidden {
                display: none;
            }

            .backToMatchListButton {
                display: unset!important;
            }

            & > .chatContainer {
                height: calc(100% - 160px);
            }
        }
    }
}