@use '../abstracts' as *;

.contact {
    width: 70%;
    @include flexbox(column, center, center, calc(42px * var(--app-scale)));
    background: var(--white);
    padding: calc(40px * var(--app-scale));
    margin: calc(102px * var(--app-scale)) 0;
    border: calc(1px * var(--app-scale)) solid var(--border-grey);
    box-shadow: var(--shadow-lg);
    border-radius: calc(12px * var(--app-scale));
    
    & > .title {
        font-size: calc(40px * var(--app-scale));
        line-height: calc(32px * var(--app-scale));
        text-align: center;
    }

    & > .content {
        @include flexbox(column, center, flex-start, calc(24px * var(--app-scale)));
        width: 100%;

        & > .contactOptions {
            width: 100%;
            display: flex;

            & > div {
                text-align: center;
                width: calc(100%/3);

                & > h3 {
                    font-size: calc(20px * var(--app-scale));
                    margin: calc(10px * var(--app-scale)) 0;
                }

                & > img {
                    padding: calc(8px * var(--app-scale));
                    background-color: #1998903f;
                    border-radius: 100%;
                }

                & > p {
                    color: var(--darker-grey);
                    line-height: calc(24px * var(--app-scale));
                }
            }
        }

        & > .form {
            width: 100%;
            min-width: 240px!important;

            .widthDivider {
                gap: calc(16px * var(--app-scale));
            }

            .textarea {
                height: calc(180px * var(--app-scale));
            }

            .button {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        margin: 16px;
        padding: 24px 8px;

        .contactOptions p {
            font-size: 2.6vw;
            line-height: unset!important;
        }
    }
}