@use '../abstracts' as *;

.explore {
    @include flexbox(column, center, center, calc(32px * var(--app-scale)));
    margin: calc(52px * var(--app-scale)) 0;
    overflow: hidden;

    .docs {
        display: flex;
        align-items: center;

        .iconButton {
            margin: 0 calc(8px * var(--app-scale));
            cursor: unset;
            background-color: var(--white);
            padding: calc(4px * var(--app-scale));
            border-radius: 100%;
            outline: calc(1px * var(--app-scale)) solid rgba(118, 118, 118, 0.3);
            box-shadow: var(--shadow-sm);

            &:nth-child(1) {
                outline: none;
                background-color: var(--secondary-green);
                box-shadow: var(--shadow-md);
                margin-left: 0;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        width: 100%;
        margin: 16px 0;
        gap: 8px;
        
        .docs {
            font-size: 2.5vw;
        }
    }
}