@use '../abstracts' as *;

.intro {
    @include dimension(100%, 100%);
    @include flexbox(column, center, center, 30px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $bg-color;
    
    & > h2 {
        text-align: center;
        text-transform: uppercase;
        width: 30%;
    }
}