@use '../abstracts' as *;

.resetPassword {
    @include dimension(100%, 100vh);
    @include flexbox(row);

    .formContainer {
        @include dimension(100%, 100%);
        @include flexbox(column, center, center, calc(25px * var(--app-scale)));

        & > .form {
            width: 50%;
            min-width: 375px;

            & > .button {
                width: 100%;
            }
        }
    }
}