@use '../abstracts' as *;

.resetPassword {
    @include dimension(100%, 100vh);
    @include flexbox(row);

    .formContainer {
        @include dimension(100%, 100%);
        @include flexbox(column, center, center, calc(25px * var(--app-scale)));

        & > .form {
            width: 50%;

            & > .button {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        height: 75vh;
    }
}