.signIn {
    @include dimension(100%, 100%);
    @include flexbox();

    .formContainer {
        @include dimension(50%, 100%);
        @include flexbox(column, center, center, 25px);

        & > .form {
            width: 50%;

            & > .button {
                width: 100%;
            }
        }

        .dontHaveAcc > a {
            color: $primary-green;
        }
    }

    .mediaContainer {
        @include dimension(50%, 100%);
        @include flexbox(column, center, center);
        background: linear-gradient(135deg, rgba(55, 175, 145, 0.05) 0%, rgba(255, 204, 203, 0.2) 80%);
    }
}