@use '../abstracts' as *;

.terms {
    width: 60%;
    @include flexbox(column, center, center, calc(42px * var(--app-scale)));
    background: var(--white);
    padding: calc(40px * var(--app-scale));
    margin: calc(102px * var(--app-scale)) 0;
    border: calc(1px * var(--app-scale)) solid var(--border-grey);
    box-shadow: var(--shadow-lg);
    border-radius: calc(12px * var(--app-scale));

    & > .title {
        font-size: calc(40px * var(--app-scale));
        line-height: calc(32px * var(--app-scale));
    }

    & > .content {
        @include flexbox(column, center, flex-start, 16px);

        h3 {
            font-size: calc(24px * var(--app-scale));
        }

        p {
            color: var(--darker-grey);
            margin-bottom: calc(15px * var(--app-scale));
            line-height: calc(24px * var(--app-scale));
        }

        ul {
            color: var(--darker-grey);
            margin: calc(-15px * var(--app-scale)) 0 calc(5px * var(--app-scale)) calc(20px * var(--app-scale));
            list-style: unset;

            li {
                margin-bottom: calc(10px * var(--app-scale));

                &::marker {
                    color: var(--border-grey);
                }
            }
        }
    }
}