@use '../abstracts' as *;

.footer {
    @include dimension(calc(100% - 5vw), auto);
    margin-left: 5vw;
    background-color: white;
    padding: 25px 0;
    @include flexbox(row, center, center, 120px);
    border-top: 1px solid #e5e7eb;
}