.sidebar {
    @include dimension(5vw, 100vh);
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 3vh 0vw;
    @include flexbox(column, space-between, flex-start, 0);
    
    .logoContainer {
        margin: 0 auto;
        .logo {
            width: 50px;
            height: 50px;
        }
    }
}