@use '../abstracts' as *;

.sidebar {
    @include dimension(5vw, 100vh);
    min-width: 83px;
    background-color: var(--white);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: calc(24px * var(--app-scale)) 0.5vw;
    @include flexbox(column, space-between, center, 0);
    transition: 200ms;
    border-right: calc(1px * var(--app-scale)) solid var(--border-grey);
    z-index: 3;
    .upperContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: calc(48px * var(--app-scale));

        .logoContainer {
            .logo {
                width: auto;
                height: calc(55px * var(--app-scale));
            }
        }

        .linksContainer {
            opacity: 0;
            visibility: hidden;
            transition: 200ms;
            // margin-top: 48px;
            position: relative;

            & > .item {
                padding: calc(12px * var(--app-scale)) calc(8px * var(--app-scale));
                border-radius: calc(4px * var(--app-scale));
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                transition-property: background-color;
                cursor: pointer;
                @include flexbox(row, flex-start, center, calc(6px * var(--app-scale)));

                &.active {
                    background-color: var(--primary-green);
                    cursor: unset;
                    opacity: 1;
                    color: white;
                    
                    img {
                        filter: brightness(0) invert(1); // makes the image appear white
                    }
                }

                &:not(.active):hover {
                    background-color: var(--hover-grey);
                    opacity: 1;
                }

                .iconButton {
                    cursor: unset;
                    opacity: 1;
                }
                p {
                    line-height: calc(21px * var(--app-scale));
                }
            }  
            
        }

        .darkmodeAndVolumeContainer {
            opacity: 0;
            visibility: hidden;
            transition: 200ms;
            position: relative;

            & > .item {
                padding: calc(12px * var(--app-scale)) calc(8px * var(--app-scale));
                border-radius: calc(4px * var(--app-scale));
                @include flexbox(row, space-between, center, 0);

                & > div {
                    @include flexbox(row, flex-start, center, calc(6px * var(--app-scale)));
                }

            }  
            
            .iconButton {
                cursor: unset;
                opacity: 1;
            }

            p {
                line-height: calc(21px * var(--app-scale));
            }
        }
        // .line {
        //     width: 100%;
        //     height: 1px;
        //     border-bottom: 1px solid $border-grey;
        // }

    }
    
    & > .iconButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .buttonsContainer {
        @include flexbox(row, space-around);
        // width: 100%;
        .button {
            transform: rotate(-90deg) translateX(calc(24px * var(--app-scale)));
            transform-origin: center;
            white-space: nowrap;
            min-width: 80px;
        }
    }

    .line {
        position: absolute;
        top: calc(-24px * var(--app-scale));
        left: 0;
        width: calc(100% + 1vw);
        transform: translateX(-0.5vw);
        height: calc(1px * var(--app-scale));
        background-color: var(--border-grey);
    }
    
    @media screen and (max-width: 1000px) {
        & {
            display: none;    
            &.mob-visible {
                display: flex;
            }  
            &.mob-hidden {
                display: none;
            }
            
            width: 260px!important;    
            min-width: unset!important;
            padding: 16px 0vw;
             
            & > .iconButton {
                display: none;
            }

            & > .upperContainer {
                .logoContainer {
                    margin-left: 10px;
                    .logo {
                        height: 45px!important;
                    }
                }
                .linksContainer {
                    display: none;
                }
                .darkmodeAndVolumeContainer {
                    opacity: 1;
                    visibility: visible;
                }

            }
            & > .buttonsContainer {
                .button {
                    transform: unset;
                }
            }
        }
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    opacity: .5;
}