@use './index' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

html {
    font-size: 16px;
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

input,
button,
textarea,
select {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
}

img,
svg {
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: unset;
    transition: 200ms;

    &:visited {
        color: unset;
    }

    &:not(.logoContainer):hover {
        opacity: .7;
    }
}

h1, h2 {
    font-weight: 600;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

::selection {
    background-color: var(--secondary-green);
    color: white;
}

.app {
    height: 100vh;

    //login state visual changes
    &.loggedIn {
        .sidebar {
            width: 18vw;
            min-width: 325px;
            align-items: start;

            .logo {
                height: 65px;
            }

            .linksContainer, .darkmodeAndVolumeContainer {
                opacity: 1;
                visibility: visible;
            }

            & > .iconButton {
                top: calc(24px + 55px/2);
                left: calc(max(18vw, 325px) - 0.5vw);
                transform: translate(-100%, -50%);
            }

            .buttonsContainer {
                width: 100%;
                button {
                    transform: rotate(0deg) translateX(0px);
                    // margin: 0px 20px;
                }
            }
        }
        .main {
            margin-left: max(18vw, 325px);

        }
        .footer {
            margin-left: max(18vw, 325px);
            @include dimension(calc(100% - max(18vw, 325px)), auto);
        }

        .navigationScreen {
            .links {
                margin-left: max(18vw, 325px);
            }
            .iconButton {
                top: calc(24px + 55px/2);
                left: calc(max(18vw, 325px) - 0.5vw);
                transform: translate(-92%, -50%);
            }
        }
    }
}