*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}

body {
    background-color: $bg-color;
}

.app {
    // background-color: #ebebeb;
    height: 100vh;
}