$bg-color: rgb(250, 250, 250);

$primary-green: #199890;
$secondary-green: #199890bb;
$darker-green: #16817a;

$border-grey: #e5e7eb;
$darker-grey: rgb(118, 118, 118);

$text-color: black;

$primary-red: #e20000;	

$shadow-sm: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-md: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    // --color2: #37AF91;
    // --color3: #60C48B;
    // --color4: #8ED882;
    // --color5: #C1EA77;
    // --color6: #F9F871;

    // --black-color: #000000;
    // --darkgrey-color: #141414;
    // --grey-color: #282828;
    // --darkpurple-color: #230046;
    // --purple-color: #320064;

    // --bg-color: #141414;
    // --bg-color-2: #161819;
    // --bg-color-3: #222;

    // --main-color: #FF0000;
    // --main-color-2: #ED1D24;

    // --text-color: rgba(255, 255, 255, 0.924);
    // --text-muted: #6c757d;


    // --fb-color: #3b5998;
    // --google-color: #a61c00;
    // --twitter-color: #1da1f2;

    // --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);