:root {
    --color1: #199890;
    --color2: #37AF91;
    --color3: #60C48B;
    --color4: #8ED882;
    --color5: #C1EA77;
    --color6: #F9F871;

    --black-color: #000000;
    --darkgrey-color: #141414;
    --grey-color: #282828;
    --darkpurple-color: #230046;
    --purple-color: #320064;

    --bg-color: #141414;
    --bg-color-2: #161819;
    --bg-color-3: #222;

    --main-color: #FF0000;
    --main-color-2: #ED1D24;

    --text-color: rgba(255, 255, 255, 0.924);
    --text-muted: #6c757d;

    --track-color: #202324;
    --thumb-color: #454a4d;
    --thumb-hover-color: #596268;

    --fb-color: #3b5998;
    --google-color: #a61c00;
    --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}