@use '../abstracts' as *;

.button {
    border: none;
    padding: 10px 24px;
    transition: 200ms;
    cursor: pointer;
    background: var(--primary-green);
    color: white;

    &:hover {
        background-color: var(--darker-green);
    }

    &.secondary {
        color: unset;
        background-color: transparent;
        border: 1px solid var(--border-grey);

        &:hover {
            background-color: var(--hover-grey);
        }
    }

}