.button {
    border: 1px solid black;
    padding: 10px 20px;
    transition: 200ms;
    cursor: pointer;
    background: none;
    
    &:hover {
        background-color: $secondary-green;
        color: white;
    }

    &.secondary {
        background-color: $secondary-green;

        &:hover {
            background-color: white;
            color: $text-color;
        }
    }

}