@use '../abstracts' as *;

.checkbox {
    margin-right: calc(8px * var(--app-scale));
    width: calc(14px * var(--app-scale));
    height: calc(14px * var(--app-scale));
    cursor: pointer;
    background-color: transparent;
    outline: calc(1px * var(--app-scale)) solid transparent;
    transition: 200ms;
    position: relative;
    display: inline-block;

    & > input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        margin: 0;

        &:checked + .checkmark {
            background-color: var(--primary-green);
            outline-color: var(--primary-green);
        
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc(4px * var(--app-scale));
              height: calc(9px * var(--app-scale));
              border: solid var(--white);;
              border-width: 0 calc(2px * var(--app-scale)) calc(2px * var(--app-scale)) 0;
              transform: translate(-50%,-50%) rotate(45deg);
            }
        }
    }

    & > .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(14px * var(--app-scale));
        width: calc(14px * var(--app-scale));
        outline: calc(1px * var(--app-scale)) solid var(--primary-green);
        background-color: transparent;
        transition: 200ms;
        z-index: 1;

        &.error {
            outline: calc(1px * var(--app-scale)) solid var(--primary-red);
        }
    }
}