@use '../abstracts' as *;
.fakeCard {
    @include dimension(100%, 100%);
    @include flexbox(column, center, center);
    background: linear-gradient(135deg, rgba(55, 175, 145, 0.05) 0%, rgba(255, 204, 203, 0.2) 80%);
    & > div {
        position: relative;
        @include flexbox(column, center, flex-start, calc(24px * var(--app-scale)));
        border-radius: calc(12px * var(--app-scale));
        box-shadow: var(--shadow-lg);
        width: 50%;
        min-width: 370px;
        aspect-ratio: 3/4;
        transition: transform 0.3s;
        padding: calc(24px * var(--app-scale));
        background-color: var(--white);;

        & > .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: calc(12px * var(--app-scale));
        }

        & > .infoContainer {
            @include flexbox(column, center, flex-start, calc(16px * var(--app-scale)));

            p {
                color: var(--darker-grey);
            }

            & > .newConnections {
                font-size: calc(15px * var(--app-scale));
                margin-top: calc(12px * var(--app-scale));
                @include flexbox(row, flex-start, center, calc(12px * var(--app-scale)));

                & > .userImages {
                    @include flexbox();

                    & > .item {
                        background-color: var(--border-grey);
                        width: calc(32px * var(--app-scale));
                        height: calc(32px * var(--app-scale));
                        border-radius: 100%;
                        border: calc(2px * var(--app-scale)) solid var(--white);;

                        &:nth-child(2) {
                            margin-right: 0;
                            margin-left: calc(-8px * var(--app-scale));
                        }
                        &:nth-child(3) {
                            margin-right: 0;
                            margin-left: calc(-8px * var(--app-scale));
                        }
                        &:nth-child(4) {
                            margin-right: 0;
                            margin-left: calc(-8px * var(--app-scale));
                        }
                    }
                }
                span {
                    color: var(--primary-green);
                }
            }
        }

        & > .cornerBlur {
            position: absolute;
            width: calc(256px * var(--app-scale));
            height: calc(256px * var(--app-scale));
            border-radius: 100%;
            z-index: -1;
            filter: blur(64px);

            &:nth-child(1) {
                top: calc(-24px * var(--app-scale));
                left: calc(-24px * var(--app-scale));
                background-color: rgb(255 192 203 / 0.3);
            }

            &:nth-child(2) {
                bottom: calc(-32px * var(--app-scale));
                right: calc(-32px * var(--app-scale));
                background-color: rgb(55 175 145 / 0.2);
            }
        }
    }
    @media screen and (max-width: 1000px) {
        display: none;
    }
}