@use '../abstracts' as *;

.fancyButton {
    border: calc(1px * var(--app-scale)) solid black;
    border: none;
    background: none;
    padding: calc(10px * var(--app-scale)) calc(34px * var(--app-scale));
    transition: transform 200ms, background-color 200ms, opacity 200ms;
    cursor: pointer;
    position: relative;
    color: white;
    overflow: hidden;
    background-image: linear-gradient(90deg, 
        transparent 0px, transparent 20px, 
        var(--primary-green 20px), var(--primary-green) calc(100% - 20px),
        transparent calc(100% - 20px), transparent 100%, 
    );
    min-width: 100px;

    & > .cut-left {
        position: absolute;
        width: 20px;
        height: 100%;
        left: -10px;
        top: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 5rem var(--primary-green);
        transition: 200ms;
    }
    & > .cut-right {
        position: absolute;
        width: 20px;
        height: 100%;
        right: -10px;
        top: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 5rem var(--primary-green);
        transition: 200ms;
    }

    & > span {
        position: relative;
    }

    &:hover {
        .cut-left {
            box-shadow: 0 0 0 5rem var(--darker-green);
        }
        .cut-right {
            box-shadow: 0 0 0 5rem var(--darker-green);
        }
    }
}