@use '../abstracts' as *;

.form {
    @include flexbox(column, flex-start, flex-start, 12px);

    & > .titlesContainer {
        margin-bottom: 16px;

        & > .title {
            font-size: 36px;
            margin-bottom: 6px;
        }
        
        & > .subtitle {
            color: var(--darker-grey);
            font-weight: 500;
            font-size: 18px;
        }
    }

    & > .widthDivider {
        width: 100%;
        display: flex;
        gap: 8px;        
    }

    & > .additionalContainer {
        @include flexbox(column, flex-start, flex-start, 8px);

        a {
            color: var(--primary-green);
        }

        & > .error {
            font-size: 14px;
            color: var(--primary-red);
            opacity: 0;
            visibility: hidden;

            &.visible {
                opacity: 1;
                visibility: visible;
                display: unset;
            }

            &.clearable {
                &:not(.visible) {
                    display: none;
                }
            }
        }
    }
}