.form {
    @include flexbox(column, flex-start, flex-start, 5px);

    & > .titlesContainer {
        margin-bottom: 16px;

        & > .title {
            font-size: 36px;
            margin-bottom: 6px;
        }
        
        & > .subtitle {
            color: $text-color-lighter;
            font-weight: 500;
            font-size: 18px;
        }
    }

    & > .widthDivider {
        width: 100%;
        display: flex;
        gap: 8px;        
    }

    & > .additionalContainer {
        margin-top: 8px;
    }
}