@use '../abstracts' as *;

.iconButton {
    // background-color: red;
    border: none;
    background: none;
    padding: calc(4px * var(--app-scale));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;

    &:hover {
        opacity: .8;
    }

    & > img {
        // width: ;
    }
}