.inputGroup {
    @include flexbox(column, flex-start, flex-start, 8px);
    width: 100%;
    & > .label {

    }
    & > .inputBox {
        width: 100%;
        position: relative;

        & > .input {
            width: 100%;
            padding: 12px 2px;
        }

        & > img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            
            &.end {
                right: 10px;
            }
            &.start {
                left: 10px;
            }
        }
    }

    & > .error {
        font-size: 14px;
        color: red;
        opacity: 0;
        visibility: hidden;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
}