.loadingContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 9;

    &.fade-out {
        pointer-events: none;

        .spinner {
            opacity: 0;
            visibility: hidden;
        }

        .half {
            transition: transform 500ms ease-out;
        }
        .half:nth-child(1) {
            transform: translateX(-100%)
        } 
        .half:nth-child(2) {
            transform: translateX(100%)
        } 
    }

    .half {
        background: white;
        height: 100%;
        width: 50%;
        transform: translateX(0)
    }

    .spinner {
        width: 108px;
        height: 16px;
        background:
            radial-gradient(circle 8px at 8px center, #abd373 100%, transparent 0),
            radial-gradient(circle 8px at 8px center, #abd373 100%, transparent 0);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        position: absolute;
        animation: ballX 1s linear infinite;
    }

    .spinner:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #abd373;
        inset: 0;
        margin: auto;
        animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
    }

    @keyframes ballX {

        0%,
        25%,
        50%,
        75%,
        100% {
            background-position: 25% 0, 75% 0
        }

        40% {
            background-position: 25% 0, 85% 0
        }

        90% {
            background-position: 15% 0, 75% 0
        }
    }

    @keyframes moveX {
        100% {
            transform: translate(0.15px)
        }
    }

}