@use '../abstracts' as *;

.loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    z-index: 9;
    background-color: var(--white);;

    &.fade-in {
        opacity: 1;
        visibility: visible;

        .progress > div {
            width: 100%;
        }
    }

    &.fade-out {
        opacity: 0;
        visibility: hidden;
    }

    .progress {
        width: 200px;
        height: 4px;
        background-color: var(--bg-color);
        border-radius: 2px;

        & > div {
            background-color: var(--primary-green);
            width: 0%;
            height: 100%;
            border-radius: 2px;
            transition-duration: 280ms;
        }
    }
}