@use '../abstracts' as *;

.mediaIndicator {
    position: absolute;
    top: calc(8px * var(--app-scale));
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: calc(5px * var(--app-scale));
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(5px * var(--app-scale));
    padding: 0 calc(5px * var(--app-scale));

    & > .indicator {
        height: 100%;
        background: #acacac;
        width: 100%;
        // animation: progress 5s linear forwards;

        & > .currentProgress {
            width: 0;
            height: 100%;
            background-color: white;
        }
    }
}