@use '../abstracts' as *;

.musicianCard {
    @include flexbox(column, center, center, 32px);

    & > .card {
        position: relative;
        @include flexbox(row, center, flex-end);
        border-radius: 8px;
        box-shadow: $shadow-lg;
        width: 27vw;
        min-width: 370px;
        aspect-ratio: 3/4;
        transition: transform 0.3s;
    
        & > .media {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 8px;
            
            & > img, & > video {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
    
            & > .half {
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
    
                &.second {
                    left: 50%;
                }
            }
        }
    
        & > .infoContainer {
            background-image: linear-gradient(to top, rgb(0 0 0 / 0.7), transparent);
            width: 100%;
            padding: 24px;
            color: white;
            position: relative;
            border-radius: 8px;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            @include flexbox(column, flex-start, flex-start, 16px);
            cursor: default;
            // height: 20%;\
    
            & > .section, & > .additional > .section {
                & > h2 {
                    font-size: 32px;
                    line-height: 32px;
                }
                & > h3 {
                    font-size: 24px;
                    line-height: 24px;
                }
                & > p {
                    font-size: 16px;
                    margin-top: 12px;
                    opacity: .8;
                }
            }
    
            & > .additional {
                @include flexbox(column, flex-start, flex-start, 16px);
            }
    
            & > .iconButton {
                padding: 8px;
                border-radius: 100%;
                background-color: rgb(0 0 0 / 0.3);
                position: absolute;
                top: 24px;
                right: 24px;
    
                &:hover {
                    opacity: 1;
                    background-color: rgb(0 0 0 / 0.5);                
                }
            }
            
            &.active {
                height: 100%;
                transition-duration: 300ms;
                padding-top: 80px;
            }
        }
    
        & > .watermark {
            position: absolute;
            top: 32px;
            left: 24px;
            rotate: -16deg;
            color: white;
            font-weight: bold;
            border: 2px solid white;
            border-radius: 4px;
            padding: 8px 14px;
            z-index: 9;
            font-size: 20px;
            text-transform: uppercase;
            opacity: 0;
            visibility: hidden;
    
            &.like {
                visibility: visible;
                color: #00e238;	
                border-color: #00e238;	
            }
    
            &.nope {
                visibility: visible;
                color: $primary-red;
                border-color: $primary-red;
            }
        }
    }

    & > .controlPanel {
        @include flexbox(row, center, flex-start, 16px);

        & > .iconButton {
            background-color: white;
            padding: 20px;
            border-radius: 100%;
            outline: 1px solid rgba($darker-grey, .3);
            box-shadow: $shadow-sm;

            &:hover {
                opacity: 1;
                background-color: #e7edf3;
            }

            &:nth-child(2) {
                outline: none;
                padding: 24px;
                background-color: $secondary-green;
                box-shadow: $shadow-md;

                &:hover {
                    opacity: .8;
                    background-color: $darker-green;
                }
            }
        }
    }
}