@use '../abstracts' as *;

.navigationScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    z-index: 9;
    background-color: var(--navigation-bg-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: none;
    opacity: 0;
    visibility: hidden;
    
    &.fade-in {
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease-in-out;

        & > .links li {
            transform: translate(0, 0);
            opacity: 1;
            visibility: visible;
            pointer-events: unset;
        }
    }

    & > button {
        position: absolute;
        top: 50%;
        left: max(calc(83px/2), 2.5vw);
        transform: translate(-50%, -50%);
    }

    & > .links {
        @include flexbox(column, center, flex-start);
        width: 100%;
        height: 100%;
        margin-left: max(5vw, 83px);
        text-align: start;

        & > ul {
            counter-reset: section; /* Increment the value of section counter by 1 */

            & > li {
                font-size: calc(85px * var(--app-scale));
                margin: 3vh 0;
                color: var(--text-color);
                transform: translateX(-100px);
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: 350ms;
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                      transition-delay: #{($i - 1) * 50}ms;
                    }
                }

                &:hover {
                    & > a {
                        text-shadow: var(--secondary-green) 0px calc(6px * var(--app-scale)) calc(16px * var(--app-scale));
                    }

                    &:before {
                        color: var(--primary-green);
                        opacity: 0;
                    }  
                }

                &:before {
                    counter-increment: section; /* Increment the value of section counter by 1 */
                    content: "0" counter(section);
                    font-size: calc(14px * var(--app-scale));
                    vertical-align: top;
                    line-height: calc(40px * var(--app-scale));
                    color: var(--darker-grey);
                    font-weight: bold;
                    transition: 300ms;
                    margin-right: calc(5px * var(--app-scale));
                }

                & > a {
                    transition: 300ms;
                    text-transform: capitalize;
                    white-space: nowrap;
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        
    }

    
}