@use '../abstracts' as *;

.notification {
    position: fixed;
    top: calc(20px * var(--app-scale));
    left: 50%;
    transform: translateX(-50%) translateY(calc(-10px * var(--app-scale)));
    background-color: var(--primary-green);
    color: var(--white);
    border: calc(1px * var(--app-scale)) solid var(--border-grey);
    padding: calc(10px * var(--app-scale)) calc(20px * var(--app-scale));
    border-radius: calc(4px * var(--app-scale));
    z-index: 9999;
    font-size: calc(14px * var(--app-scale));
    transition: 500ms;
    transition-timing-function: ease-in-out;
    opacity: 0;

    &.fade-in {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
    }

    &.fade-out {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(calc(-10px * var(--app-scale)));
    }
}