@use '../abstracts' as *;

.toggle {
    width: calc(44px * var(--app-scale));
    height: calc(24px * var(--app-scale));
    background-color: var(--hover-grey);
    border: none;
    border-radius: calc(50px * var(--app-scale));
    position: relative;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 0;

    & > .toggle-slider {
        position: absolute;
        top: calc(2px * var(--app-scale));
        left: calc(2px * var(--app-scale));
        width: calc(20px * var(--app-scale));
        height: calc(20px * var(--app-scale));
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
        box-shadow: var(--shadow-lg);
    }

    &.on {
        background-color: var(--primary-green); 
        & > .toggle-slider {
            transform: translateX(calc(20px * var(--app-scale)));
        }
    }
}